In [1]:
1+1

2

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range2,21)

NameError: name 'range2' is not defined

In [4]:
list(range(2,21))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
name='Yabuki'

In [7]:
len name

SyntaxError: invalid syntax (<ipython-input-7-2404b792aa47>, line 1)

In [8]:
len(name)

6

In [9]:
name.upper

In [10]:
name.upper()

'YABUKI'

In [11]:
len((0,1,2,3,4))

5

In [12]:
address='Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [13]:
address.spllit(o)

AttributeError: 'str' object has no attribute 'spllit'

In [14]:
address.split(o)

NameError: name 'o' is not defined

In [15]:
address.split('o')

['T', 'ky', ',Japan']

In [16]:
address.split('T')

['', 'okyo,Japan']

In [17]:
address.split('p')

['Tokyo,Ja', 'an']

In [18]:
address.split('X')

['Tokyo,Japan']

In [19]:
address.index('T')

0

In [20]:
address.index('p')

8

In [21]:
address.index('o')

1

In [22]:
address.upper()

'TOKYO,JAPAN'

In [ ]:
upper()にすると大文字になる

In [ ]:
splitは指定された文字で分割する
indexは文字の場所
upperは大文字にする

In [23]:
address.under()

AttributeError: 'str' object has no attribute 'under'

In [24]:
address.lower()

'tokyo,japan'

In [ ]:
upperの対義語はlower

In [25]:
from datetime import *
date_a=date(2008,1,1)
date_b=date(2008,1,5)
result=date_b - date_a
print(result)

4 days, 0:00:00

In [ ]:
1/1の4日後のこと

In [26]:
from datetime import *
date_a=date(2008,1,1)
date_b=date(2009,1,1)
result=date_b - date_a
print(result)

366 days, 0:00:00

In [27]:
date_a.year

2008

In [ ]:
()があったら何らかの処理をする➡name.uper()
()がなかったらデータにアクセスするだけ➡date_a.year

In [ ]:
メゾットと属性をあわせたものをオブジェクト

In [28]:
date.today()

datetime.date(2017, 5, 17)

In [29]:
birthday=date(1998,2,6)

In [31]:
today=date.today()

result=today - birthday

In [33]:
print(result)

366 days, 0:00:00

In [34]:
birthday=date(1998,2,6)

In [35]:
today=date.today()

In [36]:
result=today-birthday

In [37]:
print(result)

7040 days, 0:00:00

In [38]:
today.weekday()

2

In [39]:
月曜日が０
火曜日が１

NameError: name '月曜日が0' is not defined

In [40]:
date_a

datetime.date(2008, 1, 1)

In [41]:
date_a.weekday()

1

|date|
|:--|
|year|
|month|
|day|
|----|
|weekday()|

In [42]:
date_c=date(2000,5,5)

In [43]:
tmp='2000,5,5'

In [46]:
tmp2=[2000,5,5]