In [2]:
1+1

2

In [3]:
a=[1,2,3,4,5]

In [ ]:
合計をもとめたかったらデータで割る

In [ ]:
合計/データ数ではもとめることは出来ない

In [ ]:
合計=順番に足した結果

In [8]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [9]:
s=[1,2,3,4,5]

for x in a:
    print(x)

1
2
3
4
5

In [ ]:
print単に画面に表示されるもの

In [11]:
a=[1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

In [ ]:
リストaの各要素をpと呼び、pをprintする

In [ ]:
結局名前は何でも良い（for,in,printはだめ）

In [12]:
a=[1,2,3,4,5]

for x in a:
    print('hello')
    print('world')

hello
world
hello
world
hello
world
hello
world
hello
world

In [14]:
a=[1,2,3,4,5]

for x in a:
    print('hello')
print('world')

hello
hello
hello
hello
hello
world

In [ ]:
違う行に改行すると、5個のhelloに対して
1個のworldがつく

In [17]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
 print(val)

5349
5478
5344
4644
4968
6259

In [ ]:
printの前にスペース

In [18]:
s=0

for x in a:
    s=s + x
    
s

15

In [19]:
s=0

for x in a:
    s=s + x
    
s/5

3.0

In [20]:
s=0

for x in a:
    s=s + x
    
s/len(a)

3.0

In [22]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

In [23]:
s=0

for x in a:
    s=s + x
    
s/=len(a)

In [24]:
s

3.0

In [25]:
list_shikoku = [3148, 2991, 2966, 2457]

In [26]:
(3148+2991+2966+2457)/4

2890.5

In [28]:
s= 0.0
for val in list_tohoku:
    s+= val
s /= len(list_tohoku)
print(s)

5340.333333333333

In [29]:
list_shikoku = [3148, 2991, 2966, 2457] 

s=0
for x in list_shikoku:
    s +=x
    
s/len(list_shikoku)

2890.5

In [30]:
from statistics import *

In [ ]:
統計関係全部もってこいってこと、inport *

In [31]:
mean(list_shikoku)

2890.5

In [32]:
mean([1,2,3,4,5])

3

In [34]:
dict_tohoku = {'aomori': 5349, 'akita': 4644,'sendai': 5344,
'Ymagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [35]:
dic={'A':100,'B':20,'C':3000}

In [39]:
dic['A']

100

In [40]:
for key in dic:
    print(key)

A
B
C

In [41]:
for x in dic:
    print(x)

A
B
C

In [ ]:
要素1個ずつ取り出す

In [44]:
for val in dict_tohoku:
    print(key)

C
C
C
C
C
C

In [45]:
dict_tohoku = {'aomori': 5349, 'akita': 4644,'sendai': 5344,
'Ymagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [46]:
s=0

for x in dict_tohoku:
    print(x)
    #s += x
    
s/len(list_tohoku)

aomori
akita
sendai
Ymagata
fukushima
morioka

0.0

In [48]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s +=dict_tohoku[x]
    
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

In [ ]:
1.[5,4,3,2]の平均
2.{'A':10,'B':100,'C':1000}の値の平均
3.{10:'A',100:'B',1000:'C'}のキーの平均

In [49]:
a=[5,4,3,2]

In [50]:
s=0

for x in a:
    s=s + x
    
s/len(a)

3.5

In [51]:
a={'A':10,'B':100,'C':1000}
s=0

for x in a:
    s +=a[x]
    
s/len(a)

370.0

In [59]:
a={10:'A',100:'B',1000:'C'}

s=0

for x in a:
    s += x
s/len(a)

370.0