In [1]:
1+1

2

In [2]:
x = 1

0 < x and x < 10

True

In [3]:
0 < x or x < 0

True

In [4]:
x = 1

0 < x or X < 10

True

In [7]:
'名前は{0}、年齢{1}です'.format('太朗',100)

'名前は太朗、年齢100です'

In [9]:
'名前は'+'太朗'+'、年齢は'+str(100)+'です'

'名前は太朗、年齢は100です'

In [ ]:
globalizationとlocalization

In [10]:
str = input('何か入力してください')
print('入力されたのは「{0}」です。'.format(str))

何か入力してくださいこんにちは
入力されたのは「こんにちは」です。

In [ ]:
# coding:utf-8
print('こんにちは')

#身長の入力 
h = input('身長（m）？') 
print('身長は{0}m ですね'.format(h))

#体重の入力
w = input('体重（kg）？ ') 
print('体重は{0}kg ですね'.format(w))

#BMI の計算 
bmi = float(w) / float(h) ** 2

#BMI の表示
print('BMI は{0}です'.format(bmi)) 
print('約{0:.1f}です'.format(bmi))

こんにちは
身長（m）？ABC
身長はABCm ですね

(125)eles,elif,

In [1]:
1

1

In [2]:
h = '1.7'

float(h) + 1

2.7

In [16]:
sample_dic = {'A':100,'B':200}

for v in sample_dic:
    print(v)

A
B

In [21]:
for x in range(1,11):
　if x == 5:
    continue
 print(x)

SyntaxError: invalid character in identifier (<ipython-input-21-04ce3d2f1298>, line 2)

break,continue

In [20]:
'あ'.encode('utf-8')
'あ'.encode('cp932')

b'\x82\xa0'